/*定义全局风格:整站默认值可通过include变为内部样式块，优先级低于global.css*/
v\:*
{
behavior: url(#default#VML);
}
input, select{
outline: medium none;
}
/*尺寸：盒子模型，配合栅格化的需要*/
html{color:#000; }
body,article,aside,figure,footer,header,hgroup,menu,nav,section,div,dl,dt,dd,ul,ol,li,h1,h2
,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td
{margin:0;padding:0;}
table{border-collapse:collapse;border-spacing:0;font-style:normal}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
body {text-align: center;position: relative;z-index:100}  
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}
input,textarea,select{*font-size:100%;}legend{color:#000;}
del,ins{text-decoration:none;}
/*单行隐藏*/
.str{width:100%;white-space:nowrap;word-break:keep-all;overflow:hidden;text-overflow:ellipsis;}
.wid980{width:990px;margin:0px auto;}

body,
*{font-size:13px;color:#373737;font-family:arial,\5b8b\4f53;list-style:none;box-sizing:border-box;-moz-box-sizing:border-box;}
a:hover{text-decoration:underline}
a{text-decoration: none;}
a:active {outline: none;star:expression(this.onFocus=this.blur());}

.productinfo-grids-item-btn a:hover{text-decoration: none;}
html{-webkit-text-size-adjust:none;}

/*常用设定*/
.rb2{-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;behavior:url(/Views/Script/PIE.htc);}
.rb{-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;behavior:url(/Views/Script/PIE.htc);}
.rb5{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;behavior:url(/Views/Script/PIE.htc);}
.rb-top{-webkit-border-radius:8px 8px 1px 1px;-moz-border-radius:8px 8px 1px 1px;border-radius:8px 8px 1px 1px;behavior:url(/Views/Script/PIE.htc);}
.rb-bottom{-webkit-border-radius:0px 0px 8px 8px;-moz-border-radius:0px 0px 8px 8px;border-radius:0px 0px 8px 8px;behavior:url(/Views/Script/PIE.htc);}
.rb-right{-webkit-border-radius:0px 5px 5px 0px;-moz-border-radius:0px 5px 5px 0px;border-radius:0px 5px 5px 0px;behavior:url(/Views/Script/PIE.htc);}
.rb-left{-webkit-border-radius:5px 0px 0px 5px;-moz-border-radius:5px 0px 0px 5px;border-radius:5px 0px 0px 5px;behavior:url(/Views/Script/PIE.htc);}
.rb20{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;
behavior:url(/Views/Script/PIE.htc);}
/*加入html5兼容html4的代码*/
article,aside,figure,footer,header,hgroup,menu,nav,section{display:block;}
/*解决IE6下不支持最小宽高*/
body{min-width:1260px;_width:expression((document.documentElement.clientWidth||document.body.clientWidth)<1270?"1260px":""); min-height:610px;_height:expression(this.scrollHeight < 610 ? "610px" : "auto");}
/*定位*/


/*带清除高度的10PX高的空DIV*/
.blank{clear:both;height:10px;overflow:hidden;font-size:0px;}
.blank1{clear:both;height:5px;overflow:hidden;font-size:0px;}
/*header*/
.w_top{width:100%;min-width:990px;background:#F5F5F5;color:#717171;line-height:30px;border-bottom:1px solid #F0F0F0;height:30px;}
      
.w_topleft,.w_top,.w_log a,.w_navxz,.w_navul li,#lotteryList,#lotteryList *{float:left;}
.w_topright,.w_log a.w_right{float:right}
.w_topleft a{color:#284e8c;}
.w_topleft a,.w_topright a{padding:0px 5px;}
.w_logo{height:74px;width:235px;background:url(/Views/CPSsc/Images/w_logo.png) 0px 7px no-repeat}
.w_gg{width:400px;height:74px;background:url(/Views/CPSsc/Images/w_gg.png) no-repeat}
.w_right{height:44px;width:95px;margin:30px 0px 0px 5px;text-indent:26px;line-height:44px;}
.w_right:hover{text-decoration:none}
.w_navxz{position:relative}
.w_nav{width:100%;height:40px;background:url(/Views/CPSsc/Images/w_head_repeat.png) 0px -31px repeat-x;}
.w_navul li.w_navxz a{width:223px;height:40px;background: url('/Views/CPSsc/Images/w_head_1.png') repeat ;color: #FFF;text-align: left;padding: 0px 22px;outline: 0px none;position: relative;z-index: 201;box-shadow: 0px 0px 15px 0px #555;line-height: 40px;font-size: 14px;font-weight: bold;}
.w_navul li.w_navxz a.hove{text-decoration:none;background:url('/Views/CPSsc/Images/w_head_1.png') 0px -40px repeat}
.w_navxz i{border: 0px none;position: absolute; right: 10px;top: 0px;display: block;width: 30px;height: 40px;background: url('/Views/CPSsc/Images/w_head_1.png') no-repeat;}
.w_navul li{color:#BF4A5A;}
.w_navul a {color: #FFF;display: inline-block;height: 40px;line-height: 40px;padding: 0px 20px;font-size: 14px;font-weight: bold; position: relative;}
      
.w_navul a.active {color: #BA2636;background: url('../img/head_repeat.png?2e41a3d18acd340a4d9cdb64a857920a') repeat-x scroll 0px -111px #FFF;position: relative;z-index: 202;outline: 0px none;height:35px;margin-top:5px;line-height:30px;}
.mar10{margin-left:10px;}
.guanyu{background:url(/Views/CPSsc/Images/guanyu.png) repeat-x;position:absolute;top:200px;left: 50%;margin-left: -240px;width: 481px;height:297px;overflow: hidden;border:2px solid #790202;display: none;z-index:5500}
.guanyu div{float: left;width: 461px;height:277px;background:url("/Views/CPSsc/Images/login-bg-1.png") repeat;margin:8px;display: inline;overflow: hidden;}
.guanyu div span{float: left;width: 461px;height:157px;border-bottom: 1px solid #e0dddd;}
.guanyu div span img{margin-top: 40px;display: inline;}
.guanyu div div.gytext{float: left;width: 461px;height:120px;border-top: 1px solid #fff;margin: 0px;}
.guanyu div div.gytext p{float: left;width: 100%;height: 30px;line-height: 30px;border: 0px;text-align: center;color: #2c2b2b;font-size: 12px;}
.guanyu div div.gytext p.font16px{color:#2c2b2b}
.guanyu a{ float: right;margin: 5px 5px 0px 0px;display: inline;width: 19px;height: 18px;background: url(/Views/Myaccount/Images/end.gif) no-repeat;}

.txtAdvert{background:url(/Views/CPSsc/Images/advertBg.png) repeat-x;position:absolute;top:200px;left: 50%;margin-left: -240px;width: 554px;height:329px;overflow: hidden;display: none;z-index:205}
.txtAdvert div{float: left;width: 534px;height:309px;margin:8px;display: inline;overflow: hidden;}
.txtAdvert div span{float: left;width: 461px;height:107px;}
.txtAdvert div div.gytext{float: left;width: 255px;height:80px;margin: 0px 134px; color:#FFF; font-family:微软雅黑; font-weight:bold; font-size:16px;}
.txtAdvert a{ float: right;margin: 5px 5px 0px 0px;display: inline;width:24px;height:22px;background: url(/Views/CPSsc/Images/advertClose.png) no-repeat;}

.PopAdvert{position:absolute;top:0;left: 0;display: none;z-index:205;}
.PopAdvert div{margin:0px; clear:both;}
.PopAdvert div a{margin: 0px; padding:0px;}
.PopAdvert a#closePopAdvert{ position:relative; top:18px; float: right;padding:0px; visibility:hidden; display:inline-block;width: 19px;height: 18px;background: url(/Views/Myaccount/Images/end.gif) no-repeat;}

ul li.w_navxz{overflow:visible}

#lotteryList {
position: absolute;
left: -9999px;
top: 40px;
border: 1px solid #cfcfcf;
border-width: 0px 1px 1px 1px;
border-style: none solid solid solid;
border-color: -moz-use-text-color #CFCFCF #CFCFCF;
-moz-border-top-colors: none;
-moz-border-right-colors: none;
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
border-image: none;
width: 225px;
height:240px;
background: none repeat scroll 0% 0% #F1F1F1;
padding: 5px 4px 4px;
z-index: 200;
display:none;
}
#lotteryList ul {
background-color: #FFF;
display: block;
font-family: simsun;
overflow: hidden;
position: relative;
z-index: 10;
width:215px;overflow:hidden;
}
#lotteryList li {
display: block;
clear: both;
float: none;
border-bottom: 1px dotted #BABABA;
position: relative;
z-index: 10;
height:77px;
width: 215px;
overflow: hidden;
}
#lotteryList li a, #lotteryList li a:hover {
color: #333;
position: relative;
display: inline-block;
margin-right: 0px;
height: 100%;
font-size: 12px;
font-weight: 400;
line-height: 16px;
background: none repeat scroll 0px center transparent;
padding: 0px;
display: block;
text-decoration: none;
color: #333;
padding: 4px 0px 4px 7px;
}
.cz_logo35 {
width:60px;
height:60px;
    
margin: 0px;
margin-top:5px;
z-index: 10;
overflow: hidden;
white-space: nowrap;
}
.logo35_ssc{background: url(/Views/CPSsc/Images/w_ssc.png)no-repeat;}
.logo35_3d{background: url(/Views/CPSsc/Images/w_3d.png) no-repeat;}
.logo35_syxw{background: url(/Views/CPSsc/Images/w_11x5.png) no-repeat;}
#lotteryList li.zyGame strong {
vertical-align: middle;
color: #333;
font-size: 14px;
margin-right: 10px;
padding-left:10px;
margin-top:20px;
width:60%;
}
#lotteryList li.zyGame .grayWords {
vertical-align: middle;
margin-right: 5px;
color: #999; padding-left:10px;
}
#lotteryList li .redWords {
  
z-index: 10;
float:none;display:inline-block;
width:18px;height:14px;
background: url(/Views/CPSsc/Images/w_re.png) no-repeat;
}
div.gund{width:395px;height:22px;overflow:hidden;float:left;background-color:#BA2636;background-image:url(/Views/CPSsc/Images/lba.png);background-repeat: no-repeat;background-position:5px 0px;border-radius:3px;margin:3px 0px 0px 70px;}
div.gund marquee{margin-left:41px;color:#ffd74b;line-height:22px;font-size: 23px;}
/*header*/


/*footer*/
.footer-zong{width:100%;}
.footer-img{float:left;width:100%;height:155px;background:url("/Views/CPSsc/Images/w_playMenu-bottom.png")repeat}
.footer-mian{width:100%;overflow:hidden;height:40px;text-align:center;margin-top:20px}
.footer-mian a{padding:20px;padding-top:10px;line-height:40px;color:#373737;}
.footer-mian a:link,.footer-mian a:visited{color:#373737;}
.header-margin{float:left;width:100%;}
.footer-links{margin: 0px auto;float:none;height: 60px;overflow: hidden;width:1000px;}
.footer-links a{ display:inline-block;float:left;width:auto;height:47px;overflow: hidden;background-color: #fff;color: #000;padding-right: 10px;border: 1px solid #e6e6fa;background-repeat: no-repeat;margin:5px 0px 0px 20px;cursor:auto}
.footer-links a:hover{ text-decoration: none;color:#373737;}
.footer-links a.bg1{ background-image: url("/Views/CPSsc/Images/f1.png");width:116px;}
.footer-links a.bg2{ background-image: url("/Views/CPSsc/Images/f2.png");width:79px;}
.footer-links a.bg3{background-image: url("/Views/CPSsc/Images/f3.png");width:93px;}
.footer-links a.bg4{background-image: url("/Views/CPSsc/Images/f4.png");padding-left:30px;padding-top:5px;background-position:2px 7px;}
.footer-links a.bg5{background-image: url("/Views/CPSsc/Images/f5.png");padding-left:35px;padding-top:5px;background-position:2px 7px;}
.footer-links a.bg6{background-image: url("/Views/CPSsc/Images/f6.png");padding-left:28px;padding-top:5px;background-position:2px 7px;}
.footer-links a.bg7{background-image: url("/Views/CPSsc/Images/f7.png");padding-left:30px;padding-top:5px;background-position:2px 7px;}
.footer-links a.bg8{background-image: url("/Views/CPSsc/Images/f8.png");width:106px;}

/*footer*/


.clearfix:after {content: "\0020";clear: both;height: 0;visibility: hidden;display: block;}   
.clearfix {display: inline-block;}
* html .clearfix {height: 1%;}       
.clearfix {display: block;} 
.w_top{float:none;}
.w_navul li a:hover{ background:url(/Views/CPSsc/Images/head_repeat.png) 0px -71px repeat-x; text-decoration:none;}
.w_navul li .active:hover{background:#fff;}
.buyyellow{color:#ba2636;}

.rlmessage-box{position:absolute;bottom:0px;right:10px;width:25%;border:1px solid #852625;overflow:hidden;display:none;position: fixed; background:#fff;color:#fff;}
.rlmessage-box h3{height:33px;line-height:33px; background: #ae172c url(/Views/CPSsc/Images/dialog_bg.png) repeat-x;color:#fff;text-align:left;font-size:16px; font-weight:bold;text-indent:10px;}
.rlmessage-box .rlmessage-close{float:right;width:33px;height:33px;background:url(/Views/CPSsc/Images/message-close.png) no-repeat center center; cursor:pointer;}
.rlmessage-box .rlmessage-content{width:100%;padding:15px 30px;background:#fff;}
.rlmessage-box .rlmessage-content p{line-height:26px;margin-bottom:8px;font-size:14px;text-align:left;color:#000;}
.rlmessage-box .rlmessage-content p .num{ clear:both; float:none; line-height:26px; color:Red; font-weight:bolder;}
.rlmessage-box .rlmessage-content p.hd{text-indent:0px;}
.rlmessage-box .rlmessage-content p.con{text-indent:2em;min-height:66px;height:auto !important; height:66px;max-height: 133px;overflow: hidden;}
.rlmessage-box .rlmessage-content p.ft{text-indent:0px; text-align:right;padding-right:0.5em;}

#ActivityTitle{width:auto;height:25px;min-width: 100%; margin-bottom:1px;}
#ActivityTitle li{float:left;height:25px;line-height:25px;padding:0px 10px;cursor:pointer;border: 1px outset #FFF;
background:#F2F2F2;margin-left:10px;}
#ActivityTitle #CurActivity {border: 1px outset #FFF;background:#F90;color: #FFF;}

#RedEnvelope{width:88px;height:29px;background:url(/Views/CPSsc/Images/getRedEnvelope.png) no-repeat center center;display:inline-block;cursor:pointer; margin-bottom:5px;}
