
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><title>
	深圳电子商务市场监管服务网
</title>
    <!--介绍文字-->
 
    <!--样式-->
    <link href="reset.css" rel="stylesheet" type="text/css" charset="utf-8" />
	<link href="style.css" rel="stylesheet" type="text/css" charset="utf-8" />

    
</head>
<body>


<div class="aspNetHidden">

	<input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="/wEWBAKwx4qOBwKUl5iRBAK/noT2AQLCrbXnBNPfr2y2/3It4t/G+vobN4VNq2wA0htaexIcrP6B2rcN" />
</div>
        <div id="nbs_contain">
         
          <div id="nbs_main">
            <h2 class="nbs-t1"><span id="lblEntTitle">北京市京讯科技网络科技有限公司</span></h2>
            <div class="cf mt10">
                  <div id="nm_left">
                        

<h2 class="nbs-t2">网络经营者基本信息</h2>
<div class="nm-bg">
    <h3 class="nbs-t3-a">营业执照照面信息</h3>
    <table class="nbs-tab1">
        <tr>
            <th width="21%">
                注册号
            </th>
            <td width="79%">
                <span id="MainContent_lblEntRegNo">4403201102481757</span>
            </td>
        </tr>
        <tr>
            <th>
                组织机构代码
            </th>
            <td>
                <span id="MainContent_lblEntOrgCode">789220229      </span>
            </td>
        </tr>
        <tr>
            <th>
                名称
            </th>
            <td>
                <span id="MainContent_lblEntName">北京市京讯科技网络科技有限公司</span>
            </td>
        </tr>
        <tr>
            <th>
                企业类型
            </th>
            <td>
                <span id="MainContent_lblEntTypeName">有限责任公司（法人独资）</span>
            </td>
        </tr>
        <tr>
            <th>
                住所
            </th>
            <td>
                <span id="MainContent_lblAddr">北京市朝阳区中心城神仙岭体育中心综合楼</span>
            </td>
        </tr>
        <tr>
            <th>
                法定代表人
            </th>
            <td>
                <span id="MainContent_lblLeRepName">杨林</span>
            </td>
        </tr>
        <tr>
            <th>
                成立日期
            </th>
            <td>
                <span id="MainContent_lblEstDate">2006年05月22日</span>
            </td>
        </tr>
        <tr>
            <th>
                核准日期
            </th>
            <td>
                <span id="MainContent_lblAuthDate"></span>
            </td>
        </tr>      
        <tr>
            <th>
                经营期限
            </th>
            <td>
                <span id="MainContent_lblOpToDate">2026年05月22日</span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>
                    <b>重要提示：</b><br />
                    <span style="float: left;">1、</span><span style="float: left; width: 675px; display: inline-block;">经营范围：商事主体的经营范围由章程规定。经营范围中属于法律、法规规定应当批准的项目，取得审批文件后方可开展习惯经营活动。</span><br />
                    <span style="float: left;">2、</span><span style="float: left; width: 675px; display: inline-block;">注册资本：深圳市实行有限责任公司注册资本认缴登记制度。</span><br />
                    <span style="float: left;">3、</span><span style="float: left; width: 675px; display: inline-block;">信息查询：商事主体经营范围、出资情况、营业期限和许可审批项目等有关事项及年报信息和其他监管信息，请登录深圳市市场监督管理局历史信用信息平台（网址：www.szcredit.com.cn)查询。</span>
                </p>
            </td>
        </tr>
    </table>
    <h3 class="nbs-t3-a mt10">主要涉网信息</h3>
    <table id="tbWebInfo" class="nbs-tab1">
        <input type="hidden" name="ctl00$MainContent$hidEntMainId" id="MainContent_hidEntMainId" value="ec1c33b3-f78d-483e-988c-f41abb93058a" />       
    </table>
    <h3 class="nbs-t3-a mt10">
        电子标识发放单位</h3>
    <table class="nbs-tab1">
        <tr>
            <th width="21%">
                发放单位
            </th>
            <td width="79%">
                北京市市场监督管理局
            </td>
        </tr>
        <tr>
            <th>
                电子标识编号
            </th>
            <td>
                <span id="MainContent_lblEntCertiCode">CE1311052112204121</span>
            </td>
        </tr>
        <tr>
            <th>
                电子标识发放时间
            </th>
            <td>
                <span id="MainContent_lblValidateDate">2013年11月05日</span>
            </td>
        </tr>
        <tr>
                <th>
                    推荐单位
                </th>
                <td>
                    <span id="MainContent_lblRecommendUnitName"></span>
                </td>
        </tr>
    </table>
</div>

                  </div>
                  <div id="nm_right">
                        
            
<h2 class="nbs-t2">互动功能</h2>
<div class="nm-bg">
    <h3 class="nbs-t3-b">市场监管信息</h3>
    <ul id="ulMenu" class="nbs-left-meun">
        <input type="hidden" name="ctl00$rightMenu$hidMenuId" id="rightMenu_hidMenuId" value="1" />
        <input type="hidden" name="ctl00$rightMenu$hidMainId" id="rightMenu_hidMainId" value="630cce0f-4efa-4a8e-a4f8-0b9a36510328" />
        <li id="liBaseInfo">
            <a href="https://cert.ebs.gov.cn//Default.aspx?id=630cce0f-4efa-4a8e-a4f8-0b9a36510328" id="rightMenu_lnkBaseInfo" target="_self">基本信息</a>
        </li>
    </ul>
    <div class="nm-org">
        <a class="ng1" href="http://ent.ebs.gov.cn/applyelectronicidentityflow/applyelectronicidentity1"
            target="_blank">立即免费申领电子标识</a> <a class="ng2" href="http://www.ebs.gov.cn/checkservice"
                target="_blank">电子标识真实性检查</a> <a class="ng3" href="http://www.ebs.gov.cn/" target="_blank">
                    电子商务市场监管服务网</a>
    </div>
    <h3 class="nbs-t3-b">
        联系我们</h3>
    <div class="nbs-cus h332">
        <p>
            <b>电子标识服务网址：</b><br />
            <a href="http://www.ebs.gov.cn">http://www.ebs.gov.cn</a><br />
            <a href="/html/jumppage.html?u=http://www.ebs.org.cn">http://www.ebs.org.cn</a>
        </p>
       
    </div>
</div>
                        
                  </div>
            </div>
          </div>
          <div id="nbs_foot">
            <div class="tc">        
            Copyright © 2014 北京市市场监督管理局版权所有 深圳市众信电子商务交易保障促进中心技术支持  京ICP备11007746号-4<br />
           
            </div>
          </div>
        </div>
</body>

</html>
