/**
* @eloon:v1.0
* @2013-9-23
**/

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,select,p,blockquote,th,td{margin:0;padding:0}
table{border-collapse:collapse;border-spacing:0}
body{color:#333; font:12px/1.5 "Microsoft YaHei",tahoma,"ו"; background:#FFF;}
a{color:#036;text-decoration:none;}
a:hover{color:#DC1117 !important;text-decoration:none;}
a:visited{color:#036;}
fieldset,img{border:0}
address,button,caption,cite,code,dfn,em,input,optgroup,option,select,strong,textarea,th,var,i{font:inherit;font-style:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left}
q:before, q:after {content:''}
input, textarea, select{font-family:inherit;font-size:inherit;*font-size:100%;}
h1,h2,h3,h4,h5,h6 {font-size:14px;}

.cf:before, .cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}
.trs{filter:alpha(opacity=80);opacity:0.8;}

/* text align */
.tc{text-align:center !important;}
.tr{text-align:right !important;}
.tl{text-align:left !important;}
.wrp{margin:0 auto;}

.fl{float:left;display:inline;}
.fr{float:right;display:inline;}

/* Margins */
.mt10{margin-top:10px;}
.ml10{margin-left:10px;}
.mt15{margin-top:15px;}
.mt30{margin-top:30px;}
.mt60{margin-top:60px;}

/* Padding */
.p10{padding:10px;}
.pt10{padding-top:10px;}
.pr10{padding-right:10px;}
.pb10{padding-bottom:10px;}
.pl10{padding-left:10px;}
.pb30{padding-bottom:30px !important;}